DATABASE_URL=jdbc:postgresql://xxxssefwegwgwrhergw/neondb?sslmode=require
DB_USERNAME=neondb_sefsefwegwgwrg
DB_PASSWORD=npg_xxxxxxxxxxxxx


JWT_SECRET=mysxxxxxxxxxxxxxxxxxxxxxxxxxgbootjwtproject123456789
JWT_EXPIRATION=36000000

GEMINI_API_KEY = AQ.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxAzC5h9-tiQ
GOOGLE_PROJECT_ID = gen-lang-client-xxxxxxx